
.wrap
	display flex
	
.wrap_first
	position relative
	width 200px
	height 200px
	border-radius: 100%
	margin-right 50px
	transition: all 1s ease-out


.first::after
		content: ''
		position: absolute
		top: 0px
		border: 4px solid
		border-radius: 100%
		bottom: 0px
		left: 0px
		right: 0px
		transition: all 1s ease-out
		border-bottom-color: black
		border-top-color:  red
		border-left-color:      black
		border-right-color: red
		transform: rotate(45deg)
	
.first:hover::after
	transform: rotate(135deg)


.first
	background-image: url('/pic/ppl1.jpg')
	background-size: cover
	background-position: center 
	background-repeat: no-repeat;
	width 200px
	height 200px
	border-radius: 100%
	position relative
	transition: .4s
	cursor pointer
	overflow hidden
	&:hover
		background-image: url('/pic/ppl4.jpg')
		background-color #000
		transition: .8s ease-out
		.discription
			transform: translateY(-1px)
			transition: 1s ease-out


.discription
	position relative
	bottom 0
	text-align center
	padding-top 70px
	width 200px
	color: #fff
	height 200px
	transform: translateY(200px)
	transition: 1s ease-out;
	background-color: #0000
	&::before
		transition: 1s 
		content:""
		position: absolute
		bottom 0
		top 0
		left 0 
		right 50px
		width 200px
		height 200px
		border-radius 50%
		background-color: #000
		opacity .5
		z-index -2

.title 
	color: #fff
	margin 0
	opacity 1
	z-index 10
.text
	color: #fff









