.place
	max-width 1231px
	//border: 1px solid red
	margin 0 auto
	background-color: #fff
	&__nav
		display flex
		//justify-content space-between
	&__item
		text-align center
		text-transform uppercase


.place__nav .place__item:first-child
	border-left: 1px solid #ededed

.place__nav-link
	border-top: 1px solid #ededed
	border-right: 1px solid #ededed
	transition: .4s
	border-bottom: 1px solid #ededed
	display block
	font-size: 14px
	padding-top 15px
	padding-bottom 15px
	width 240px
.place__nav-link_text
	display block
	font-size: 12px
	text-transform: none
	font-weight 200

.active-link-js
	box-shadow: inset 0px 15px 1px -10px #f8bd3f


.museum
	margin 0 auto
	max-width 1245px
	border-left: 1px solid #ededed
	display flex

.tab1
	display none

.museum__best
	width 310px
	border-right: 1px solid #ededed
	background-color: #fff

.museum__wrap
	display flex
	justify-content space-around
	align-items center
	border-top: 1px solid #ededed
	padding-top 15px
	padding-bottom 15px
	// width 320px

.museum-title
	margin 0
	text-align center
	text-transform uppercase
	padding-top 20px
	padding-bottom 15px
	font-weight 500

.best__title
	font-size: 45px
	margin 0
	color: #cbcbcb

.best__photo-image
	width 60px
	height 60px
	border-radius: 100%
	border-color: transparent

.best__stars
	display flex

.best__text
	margin 0
	font-size: 14px
	margin-top 10px



.war-museum
	width 215px
	border-right: 1px solid #ededed
	display flex
	flex-direction: column
	align-items center
	background-color: #fff
	&__title
		margin 0
		font-size: 17px
		margin-top 15px
		margin-bottom 15px
		font-weight 500
		color: #fad584
	&__list
		margin 0
		padding 0
		list-style-type none
	&__items
		font-size: 16px
		margin-bottom 15px

.museum-discription
	width 288px
	border-right: 1px solid #ededed
	display flex
	flex-direction: column
	align-items center
	background-color: #fff
	&__img
		width 200px
		margin-top 15px
		margin-bottom 15px
		height 200px
		border-radius: 100%
		border-color: transparent

.text-size
	font-size: 19px
	text-transform uppercase
	margin-top 15px
	margin-bottom 25px

.museum-discription__text
	p
		margin 0
		text-align center

.more-museum
	background-color: transparent

.more-museum__link
	display block
	border: 4px solid #f8bd3f
	color: #f8bd3f
	padding-top 15px
	padding-bottom 15px
	padding-left 10px
	padding-right 10px
	background-color: rgba(0,0,0, 0.6)
	position absolute
	right 60px
	top 500px

.main-box
	background url('/pic/kolizey.jpg') no-repeat 0 0
	background-size: cover
	width 100vw
	height 100vh
	position relative
